// Variables

$animation-duration: 0.1s;
$bar-height: 32px;


.bv-container{
  position: fixed;
  z-index: 1001;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  outline: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition: opacity $animation-duration, transform $animation-duration;
}

.bv-toolbar{
  top: 0;
  position: absolute;
  height: 32px;
  left: 0;
  right: 0;
  z-index: 1000;
}

.bv-button{
  padding: 0;
  margin: 0;
  background-color: black;
  border: 0;
  fill: white;
  height: 32px;
  width: 32px;
  opacity: 0.7;
  cursor: pointer;
  transition: opacity $animation-duration;

  &:focus{
    outline: none;
    opacity: 0.8;
  }

  &:hover{
    opacity: 1;
    outline: none;
  }
}

.bv-close{
  float: right;
}

.bv-navigation{
  position: absolute;
  text-align: center;
  height: 32px;
  bottom: 90px;
  right: 0;
  left: 0;
  transform: translateZ(0);
}

.bv-body{
  position: absolute;
  bottom: 122px;
  left: 0;
  right: 0;
  top: 32px;
  //height: 100%;
  width: 100%;
}

.bv-img-cont{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  z-index: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition: opacity $animation-duration;
  //transform: translateZ(0);

  &.bv-active{
    opacity: 1;
    z-index: 1;
  }

  & > .bv-img{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    cursor: pointer;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  & > .bv-desc{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: xx-large;
    opacity: 0.6;

    &:empty{
      display: none;
    }
  }
}

.bv-gallery{
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  height: 90px;
  left: 0;
  background-color: black;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition: transform $animation-duration;
  transform: translateZ(0);
}

.bv-gallery > img{
  height: 80px;
  margin-right: 5px;
  margin-left: 5px;
  margin: 0px 5px 10px 5px;
  opacity: 0.5;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition: opacity $animation-duration;
  //transform: translateZ(0);
  //-webkit-filter: grayscale(100%);

  &.bv-active{
    opacity: 1;
    //-webkit-filter: grayscale(20%);
  }
}
