.fs-container{
  position:fixed;
  z-index: 1001;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: black;
  outline:none;
  -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.fs-toolbar{
  top:0;
  position: absolute;
  height: 32px;
  left:0;
  right:0;
  z-index: 1000;
}

.fs-close,
.fs-button{
  padding:0;
  margin:0;
  background-color: black;
  border:0;
  fill:white;
  height: 32px;
  width: 32px;
  opacity:0.7;
}

.fs-button:focus{
  outline: none;
  opacity:0.8;
}
.fs-button:hover{
  opacity: 1;
  outline: none;
}

.fs-close{
  float:right;
  //opacity: 0.5;
}

.fs-close:hover,
.fs-close:active{
  opacity:1;
}

.fs-close:focus{
  outline:0;
}

.fs-navigation{
  position: absolute;
  text-align: center;
  height: 32px;
  bottom:90px;
  width:100%;
  left:0;
}

.fs-body{
  position: absolute;
  bottom:122px;
  left:0;
  right:0;
  top:32px;
  //height:100%;
  width:100%;
}

.fs-image{
    position: absolute;
  bottom:0;
  left:0;
  right:0;
  top:0;
  margin:auto;
    max-width: 100%;
    max-height: 100%; 
    cursor:pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.fs-gallery{
  white-space: nowrap;
  overflow:hidden;
  position:absolute;
  bottom:0;
  height:90px;
  left:0;
  background-color: black;
  -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}

.fs-gallery > img{
  height:80px;
  margin-right:5px;
  margin-left: 5px;
  margin: 0px 5px 10px 5px;
  cursor:pointer;
  -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
